@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    min-width: 250px;
}

.urls {

}

.baseurl {
    font-size: 0.9em;
    line-height: 1.1em;
    padding: 5px;
    color: rgb(211, 211, 211);
    border-bottom: 1px solid rgb(232, 232, 232);
}


.url {
	cursor: pointer;
	padding: 5px;
}

.url:hover, .selected {
	background-color: #EFEFEF;
}

.path {
    padding-left: 5px;
    font-size: 0.9em;
    color: rgb(211, 211, 211);
}

.error {
    padding: 5px;
	font-size:0.8em;
}

.options {
    font-family: RobotoRegular, sans-serif;
    color: rgb(17, 34, 204);
    cursor: pointer;
}