@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
}

.urls {
	width: 250px;
}

.baseurl {
    font-size: 0.7em;
    line-height: 0.8em;
    padding: 5px;
    color: rgb(211, 211, 211);
    border-bottom: 1px solid rgb(232, 232, 232);
}


.url {
	cursor: pointer;
	font-size: 0.9em;
	padding: 5px;
}

.url:hover, .selected {
	background-color: #EFEFEF;
}

.path {
    padding-left: 5px;
    font-size: 0.5em;
    color: rgb(211, 211, 211);
}

.error {
	font-size:0.7em;
}