@CHARSET "UTF-8";

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    max-width: 600px;
}

.urls {
    clear: both;
}

.header {
    font-size: 0.9em;
    line-height: 1.1em;
    overflow: auto;
    padding: 5px;
    border-bottom: 1px solid rgb(232, 232, 232);
}

.baseurl {
    color: rgb(211, 211, 211);
    float: left;
}

.add-path, .option-page {
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid transparent;
    border-radius: 2px;
}

.add-path:hover, .option-page:hover {
    border: 1px solid rgb(232, 232, 232);
}

.add-path {
    background-image: url("/images/icon-add128.png");
}

.option-page {
    margin-left: 3px;
    background-image: url("/images/icon-option128.png");
}

.add-form {
    border-bottom: 1px solid rgb(232, 232, 232);
    padding: 10px;
    display: none;
}

.url {
	cursor: pointer;
	padding: 5px;
    overflow: auto;
}

.url:hover, .selected {
	background-color: #EFEFEF;
}

.remove-icon {
    width: 16px;
    height: 16px;
    background-image: url("/images/icon-remove128.png");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.remove-icon:hover {
    border: 1px solid rgb(255, 255, 255);
}

.remove-entry {
    float: right;
    overflow: auto;
    height: 20px;
    color: rgb(211, 211, 211);
    font-family: RobotoRegular, sans-serif;
    font-size: 0.8em;
}

.remove-entry:hover {
}

.remove-entry:hover .remove-yes {
    color: rgb(0, 0, 0);
}

.remove-entry:hover .remove-no {
    color: rgb(0, 0, 0);
}

.remove-yes {
    float: left;
    padding: 3px;
}

.remove-yes:hover {
    font-family: RobotoBlack, sans-serif;
}

.remove-no {
    float: right;
    padding: 3px;
}

.remove-no:hover {
    font-family: RobotoBlack, sans-serif;
}

.path {
    padding-left: 5px;
    font-size: 0.9em;
    color: rgb(211, 211, 211);
}

.error {
    padding: 5px;
	font-size:0.8em;
}

.options {
    font-family: RobotoRegular, sans-serif;
    color: rgb(17, 34, 204);
    cursor: pointer;
}
