@CHARSET "UTF-8";

body {
	margin-left:auto;
	margin-right:auto;
	width: 50%;
}

.header {
    font-size: 1.3em;
    line-height: 3em;
    color: rgb(48, 57, 66);
    border-bottom: 1px solid rgb(232, 232, 232);
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1.1em;
    color: rgb(0, 0, 0);
    font-weight: normal;
	margin-bottom: 4px;
}

.description {
    font-size: 0.9em;
}

.description {
    list-style: square;
}

.separator {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: rgb(232, 232, 232);
}

p code {
	color: grey;
}

.message {
	font-size: 0.8em;
	color: grey;
}

.configarea {
	width: 100%;
	height: 200px;
    font-family: monospace;
}

.icon {
    width: 14px;
    height: 14px;
    vertical-align: middle;
}

.text {
    width: 42%;
    height: 20px;
    border: 1px solid rgb(159, 159, 159););
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(191, 191, 191);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(191, 191, 191);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(191, 191, 191);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(191, 191, 191);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(68, 68, 68);
    cursor: auto;
}

.add {
    width: 8%;
    -webkit-align-items: flex-start;
    -webkit-appearance: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
    -webkit-user-select: none;
    -webkit-writing-mode: horizontal-tb;
    background-color: rgb(192, 192, 192);
    background-image: -webkit-linear-gradient(top, rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
    border-bottom-color: rgba(0, 0, 0, 0.247059);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0.247059);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(0, 0, 0, 0.247059);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.247059);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 0px 0px, rgba(255, 255, 255, 0.74902) 0px 1px 2px 0px inset;
    color: rgb(68, 68, 68);
    cursor: default;
    text-shadow: rgb(240, 240, 240) 0px 1px 0px;
    text-transform: none;
    white-space: nowrap;
}

.title {

}

.saved {
    border-color: green;
}

.invalid {
    border-color: red;
}

.error {
    color: red;
}