@CHARSET "UTF-8";

body {
	font-family: Roboto, system-ui, sans-serif;
	font-size: 81.25%;
}

button {
	font-family: Roboto, system-ui, sans-serif;
}

.add, .save {
	border: 1px solid rgb(218, 220, 224);
	border-radius: 4px;
	color: #1a73e8;
	flex-shrink: 0;
	font-weight: 500;
	height: 24px;
	margin: 0;
	padding: 4px 8px;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
}

.add:hover, .save:hover {
	background-color: rgba(66, 133, 244, 0.3);
}

.text {
	width: 42%;
	height: 20px;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: 1px solid rgb(191, 191, 191);
	box-sizing: border-box;
	color: rgb(68, 68, 68);
	cursor: auto;
}

.saved {
	border-color: #2c4359;
}

.invalid {
	border-color: #a00000;
}

.error {
	color: #a00000;
}

.icon-default {
	cursor: pointer;
	color: #a6a6a6;
}

.icon-default:hover {
	color: #000000;
}
