@CHARSET "UTF-8";

body {
	font-family: Roboto, system-ui, sans-serif;
	font-size: 81.25%;
	background: var(--default-background-color);
	color: var(--text-color);
}

button {
	font-family: Roboto, system-ui, sans-serif;
}

a {
	color: var(--link-color);
}

a:hover {
	color: var(--link-hover-color);
}

.add, .save {
	border: 1px solid var(--button-border-color);
	border-radius: 4px;
	color: var(--button-text-color);
	background-color: var(--button-background-color);
	flex-shrink: 0;
	font-weight: 500;
	height: 24px;
	margin: 0;
	padding: 4px 8px;
	text-decoration: none;
	text-transform: none;
	cursor: pointer;
}

.add:hover, .save:hover {
	background-color: var(--button-hover-background-color);
}

.text {
	width: 42%;
	height: 20px;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: var(--default-background-color);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: 1px solid var(--text-border-color);
	box-sizing: border-box;
	color: var(--text-color);
	cursor: auto;
}

.saved {
	border-color: var(--saved-border-color);
}

.invalid {
	border-color: var(--error-color);
}

.error {
	color: var(--error-color);
}

.icon-default {
	cursor: pointer;
	color: var(--icon-default-color);
}

.icon-default:hover {
	color: var(--dark-hover-color);
}
