@CHARSET "UTF-8";

:root {
	--default-background-color: rgb(255, 255, 255);
	--button-border-color: rgb(218, 220, 224);
	--button-text-color: rgb(26, 115, 232);
	--button-background-color: rgb(255, 255, 255);
	--button-hover-background-color: rgba(66, 133, 244, 0.3);
	--text-border-color: rgb(191, 191, 191);
	--text-color: rgb(68, 68, 68);
	--link-color: rgb(41, 41, 41);
	--link-hover-color: rgb(30, 30, 30);
	--saved-border-color: rgb(44, 67, 89);
	--error-color: rgb(160, 0, 0);
	--icon-default-color: rgb(166, 166, 166);
	--dark-hover-color: rgb(0, 0, 0);

	--default-border-color: rgb(232, 232, 232);
	--header-version-color: rgb(232, 232, 232);

	--light-color: rgb(211, 211, 211);

	--url-hover-background-color: rgb(239, 239, 239);
	--options-color: rgb(17, 34, 204);
	--sortable-ghost-color: rgb(180, 194, 202);
	--sortable-ghost-background-color: rgb(222, 239, 249);

	--navigation-header-color: rgb(0, 54, 134);
	--navigation-selected-hover-color: rgb(78, 87, 100);
	--header-color: rgb(97, 97, 97);
	--visit-us-color: rgb(48, 57, 66);
	--description-color: rgb(117, 117, 117);
	--config-area-border-color: rgb(159, 159, 159);
}

@media (prefers-color-scheme: dark) {
	:root {
		--default-background-color: rgb(17, 17, 17);
		--button-border-color: rgb(216, 216, 224);
		--button-text-color: rgb(255, 255, 255);
		--button-background-color: rgb(0, 0, 0);
		--button-hover-background-color: rgb(193, 193, 193);
		--text-border-color: rgb(97, 97, 97);
		--text-color: rgb(212, 212, 212);
		--link-color: rgb(191, 191, 191);
		--link-hover-color: rgb(153, 153, 153);
		--saved-border-color: rgb(208, 208, 208);
		--error-color: rgb(243, 179, 172);
		--icon-default-color: rgb(211, 211, 211);
		--dark-hover-color: rgb(255, 255, 255);

		--default-border-color: rgb(97, 97, 97);
		--header-version-color: rgb(97, 97, 97);

		--light-color: rgb(97, 97, 97);

		--url-hover-background-color: rgb(67, 67, 67);
		--options-color: rgb(133, 189, 242);
		--sortable-ghost-color: rgb(121, 131, 137);
		--sortable-ghost-background-color: rgb(47, 52, 55);

		--navigation-header-color: rgb(255, 255, 255);
		--navigation-selected-hover-color: rgb(213, 213, 213);
		--header-color: rgb(189, 189, 189);
		--visit-us-color: rgb(197, 197, 197);
		--description-color: rgb(212, 212, 212);
		--config-area-border-color: rgb(203, 203, 203);
	}
}
