@CHARSET "UTF-8";

body {
	margin-left: 0;
	margin-right: auto;
}

.navigation {
	float: left;
	width: 155px;
	overflow: auto;
}

.navigation-header {
	font-size: 1.3em;
	line-height: 3em;
	font-weight: 400;
	color: #003686;
	margin-left: 18px;
}

.navigation-entry {
	-webkit-border-start: 6px solid transparent;
	-webkit-padding-start: 18px;
	-webkit-user-select: none;
}

.navigation-entry.selected {
	-webkit-border-start-color: rgb(78, 87, 100);
	cursor: default;
	pointer-events: none;
}

.main {
	float: left;
	width: 700px;
}

.header {
	font-size: 1.3em;
	line-height: 3em;
	font-weight: 400;
	color: #616161;
	border-bottom: 1px solid rgb(232, 232, 232);
}

.header-title {
	float: left;
}

.header-version {
	font-size: 0.5em;
	font-weight: 500;
	color: rgb(232, 232, 232);
	float: right;
}

.visit-us {
	font-size: 0.8em;
	line-height: 3em;
	color: rgb(48, 57, 66);
	border-top: 1px solid rgb(232, 232, 232);
}

.clear {
	clear: both;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 1em;
	color: #616161;
	font-weight: 500;
	margin-bottom: 4px;
}

.description {
	color: #757575;
	list-style: disc;
	margin: 4px 0 12px;
}

.separator {
	border-top: none;
	border-left: none;
	border-right: none;
	border-color: rgb(232, 232, 232);
}

p code {
	color: grey;
}

.message {
	font-size: 0.8em;
	color: grey;
}

.configarea {
	width: 100%;
	height: 200px;
	font-family: monospace;
	border-color: rgb(159, 159, 159);
}

.icon {
	width: 14px;
	height: 14px;
	vertical-align: middle;
}

.add-form {
	margin-bottom: 2px;
}

.text {
	width: 42%;
	height: 20px;
	-webkit-appearance: none;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	-webkit-writing-mode: horizontal-tb;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: 1px solid rgb(191, 191, 191);
	box-sizing: border-box;
	color: rgb(68, 68, 68);
	cursor: auto;
}
